<div class="masthead">
    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">
          <a class="site-title" href="{{ .Site.BaseURL }}">
            {{ .Site.Title }}
          </a>
          <ul class="visible-links">
            {{ range .Site.Menus.main}}
              <li class="masthead__menu-item">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  
  