{{ define "main" }}
  <p>Hi, I'm Ammar. I study Electrical & Electronics Engineering but studying only one thing sounds pretty boring to me so ever so often I delve to different stuff and this is the place for me to express it all out</p>
  

  <!-- List recent posts -->
  <h2>Recent Posts</h2>
  <div> 
    {{ range first 5 (where .Site.Pages "Type" "post") }}
      {{ if not .IsSection }}
        <ul>
          {{ partial "post-section.html" . }}
        </ul>
      {{ end}}
    {{ end }}
  </div>
    
{{ end }}
